/* main.css */

/*Globales*/

html {
  box-sizing: border-box;
  font-size: 62.35%;
  /*1rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color:#fff;
  font-size: 16px; 
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}


.container {
  text-align: justify;

}
@media (min-width: 767px) {
  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
}
.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}