/* main.css */

/* Variables */
:root {
  /*Colores*/
  --text-100: #575757;
  --text-200: #2E2E2E;
  --bg-0: #ffffff;
  --bg-100: #7F9E87;
  --bg-200: #64826c;
  --bg-300: #284431;
  --accent-100: #F2C057;
  --accent-200: #886300;


  /* OTROS */
  --primary-font: 'Roboto', sans-serif;
  --max-width: 120rem;
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background-color: var(--bg-0);
  font-size: 1.6rem;
  font-optical-sizing: auto;
  line-height: 1.6;
  color: var(--text-200);
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin: 0 0 2rem 0;
  font-weight: 700;
}

h1 {
  font-size: 2.4rem;
}

/* 24px */
h2 {
  font-size: 2rem;
}

/* 20px */
h3 {
  font-size: 1.8rem;
}

/* 18px */
h4 {
  font-size: 1.6rem;
}

/* 16px */
h5 {
  font-size: 1.4rem;
}

/* 14px */
h6 {
  font-size: 1.2rem;
}

/* 12px */

p {
  font-size: 1.6rem;
  /* 16px */
  line-height: 1.5;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
  /* width: 100%; */
  display: block;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: var(--max-width);
}